<% if flash[:notice] %>
  <div class="card-alert alert-info">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="container">

  <h1 class="text-center"><%= "#{t('message.listing')} #{t('activerecord.models.kind.other')}" %></h1>
  <%= link_to "#{t('buttons.new')} #{t('activerecord.models.kind.one')}", new_kind_path, class: "btn btn-primary"%>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= t('activerecord.attributes.kind.description') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.show'), kind, class: "btn btn-success" %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind), class: "btn btn-warning" %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: t('message.confirm') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= paginate @kinds%>
  </div>

</div>