<%= form_with(model: phone, local: true) do |form| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= "#{t('activerecord.attributes.phone.contact_id')}:" %></strong>
    <%= @phone.contact.name %>
  </p>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
    <%= link_to t('buttons.back'), phones_path, class: "btn btn-white" %>
  </div>
<% end %>
