<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.phone.contact_id') %></strong>
  <%= @phone.contact.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.phone.phone') %></strong>
  <%= @phone.phone %>
</p>

<%= link_to t('buttons.edit'), edit_phone_path(@phone) %> |
<%= link_to t('buttons.back'), phones_path %>
