<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= " #{t('activerecord.attributes.address.contact_id')}:" %></strong>
    <%= @address.contact.name %>
  </p>

  <div class="form-group">
    <%= form.label :street %>
    <%= form.text_field :street, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.select_tag :state, options_of_states(@address.state), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to t('buttons.back'), addresses_path, class: "btn btn-white"%>
  </div>
<% end %>
