<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= " #{t('activerecord.attributes.address.contact_id')}:" %></strong>
    <%= @address.contact.name %>
  </p>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, options_of_states(@address.state) %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= link_to t('buttons.back'), addresses_path %>
  </div>
<% end %>
